<br>
<h1>WELCOME TO VIRTUAL MORTGAGE ADVISOR</h1><br><br>

<div class="row">
  <div class="col-md-4 sign-in">
    <h4>Sign in to create your custom mortgage scenario</h4><br><br>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%#= f.label :email %>
      <%= f.text_field :email, :placeholder => "Email" %> <br>

      <%#= f.label :password %>
      <%= f.password_field :password, :placeholder => "Password" %><br>
          <p>New user? <%= link_to "Sign up now!", signup_path %></p><br>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary", id: "signin" %>
    <% end %>

  </div>

  <div class="col-md-8">
    <table class="table">
      <tr>
        <th colspan="4"><h2>Mortgage Rates</h2>
        </th>
      </tr>
      <tr>
        <th>Program</th>
        <th>Today</th>
        <th>Last Week</th>
        <th>Change</th>
      </tr>
      <tr>
        <td>30 Year Fixed</td>
        <td><%= @thirty_year_fixed%>%</td>
        <td><%= @thirty_year_fixed_last_week%>%</td>
        <td><%= (@thirty_year_fixed-@thirty_year_fixed_last_week).round(2)%>
      </tr>
      <tr>
        <td>15 Year Fixed</td>
        <td><%= @fifteen_year_fixed%>%</td>
        <td><%= @fifteen_year_fixed_last_week%>%</td>
        <td><%= (@fifteen_year_fixed-@fifteen_year_fixed_last_week).round(2)%>
      </tr>
      <tr>
        <td>5/1 Adjustable Rate</td>
        <td><%= @five_one_adjust%>%</td>
        <td><%= @five_one_adjust_last_week %>%</td>
        <td><%= (@five_one_adjust-@five_one_adjust_last_week).round(2)%>
     </tr>
    </table>
  </div>
</div>