_<div class="row">
  <div class="col-md-5 col-sm-5">
    <p class="lead">Title:<%= @scenario.title %></p>
    <p class="lead">Income:<%= @scenario.income%></p>

    <p class="lead">Rent/Mtg:<%= @scenario.housing_exp %></p>

    <p class="lead">Other Expenses:<%= @scenario.other_exp %></p>

    <p class="lead">Credit Score:<%= @scenario.credit_score%></p>




  </div>
 </div>