
<h1>Scenario Editor</h1>

<div class="row">
    <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
    <%= form_for(@scenario) do |f| %>
  

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :income %>
      <%= f.text_field :income %>

      <%= f.label :housing_exp %>
      <%= f.text_field :housing_exp %>

      <%= f.label :other_exp %>
      <%= f.text_field :other_exp %>

      <%= f.label :credit_score %>
      <%= f.text_field :credit_score %>

      <%= f.label :purchase_price %>
      <%= f.text_field :purchase_price %>

      <%= f.label :loan_amount %>
      <%= f.text_field :loan_amount %>

      <%= f.label :rate %>
      <%= f.text_field :rate %>

        <%= f.label :program %>
      <%= f.text_field :program %>

      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>