<ul class="nav nav-pills">
  <li><%= link_to('Create New Scenario', new_scenario_path) %></li>
  <li><%= link_to('Edit Scenario', edit_scenario_path(@scenario)) %></li>
  <li><%= link_to('Delete Scenario', @scenario, :method => :delete, :confirm => 'Are you sure?') %></li>
  <div class='spacer'></div>
</ul>

<div class="row">
  <div class="col-md-5 col-sm-5">
 
<h3>=================================================================================</h3>
<h3><%=current_user.first_name%> <%=current_user.last_name%></h3>
<h4>Users Information</h4>
    <p class="lead">Income:<%= @scenario.income%></p>
    <p class="lead">Current Housing Expense:<%= @scenario.housing_exp%></p>
    <p class="lead">Other Monthly Expenses:<%= @scenario.other_exp%></p>
    <p class="lead">Credit Score:<%= @scenario.credit_score%></p><br><br>

<h4>Property Information</h4>
    <p class="lead">Home Purchase Price: $<%= @scenario.purchase_price%></p>
    <p class="lead">Mortgage Loan Amount: $<%= @scenario.loan_amount%></p>
    <p class="lead">Loan Program:<%= @scenario.program%></p>
    <p class="lead">Today's Rate:<%= @thirty_year_fixed%>%</p>
    <p class="lead">Monthly Payment:<%= @monthly_payment%></p>


    <p class="lead">Debt to Income Ratio (DTI): <%= @dti %>%</p>
    <p class="lead">Change in Disposable Income: $<%= @disp_income_diff%></p>
<br>
=============================================================================
    <h4>30 Year Fixed: <%= @thirty_year_fixed %> </h4><br>
<h4>15 Year Fixed: <%= @fifteen_year_fixed %> </h4><br>
<h4>5/1 Adjustable: <%= @five_one_adjust %> </h4><br>










  </div>
 </div>
<%#= render :partial => 'details' %>

  <%= button_to "Edit", {controller: :scenarios, action: :edit}, :method => :get, :class => "buttons" %><br />

