<!-- Renders title/tool bar for specific scenario -->
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills" id="blue">
      <li class="prop_address"><%=@scenario.title%></li>
      <li><%= link_to('Edit Scenario', edit_scenario_path(@scenario)) %></li>
      <li><%= link_to('Delete Scenario', @scenario, :method => :delete, :confirm => 'Are you sure?') %></li>
      <div class='spacer'></div>
    </ul>
  </div>
</div>

<!-- Renders borrower and property information -->
<div>
  <h2>Borrower's Information</h2>
    <p class="lead">Income: <%= number_to_currency(@scenario.income)%>/mo.</p>
    <p class="lead">Current Housing Expense: <%= number_to_currency(@scenario.housing_exp)%>/mo.</p>
    <p class="lead">Other Expenses: <%= number_to_currency(@scenario.other_exp)%>/mo.</p>
    <p class="lead">Credit Score:  <%= @scenario.credit_score%></p>
    <% if @scenario.credit_score <740 %>
    <li>Your rate may be higher due to credit score</li>
    <%end%><br>
  <div>
  <h2>Property Information</h2>
    <p class="lead">Home Address: <%= @scenario.title%></p>
    <p class="lead">Home Purchase Price: <%= number_to_currency(@scenario.purchase_price)%></p>
    <p class="lead">Mortgage Loan Amount: <%= number_to_currency(@scenario.loan_amount)%></p>
    <p class="lead">Estimated Taxes: <%=number_to_currency(@taxes)%>/mo.</p>
    <p class="lead">Estimated Insurance: <%= number_to_currency(@insurance)%>/mo.</p>
  </div><br><br>
</div>
<!-- Renders table of Mortgage Loan Options using rates from Zillow API -->
<div>
  <table class="table">
    <tr>
      <th colspan="4"><h2>Mortgage Loan Options</h2> </th>
    </tr>
    <tr>
      <th></th>
      <th>30 Year Fixed</th>
      <th>15 Year Fixed</th>
      <th>5/1 Adjustable</th>
    </tr>
    <tr>
      <td>Current Interest Rate:</td>
      <td><%= @thirty_year_fixed%>%</td>
      <td><%= @fifteen_year_fixed%>%</td>
      <td><%= @five_one_adjust%>%</td>
    </tr>
    <tr>
      <td>Monthly Payment (Add Tax & Insurance Pmt):</td>
      <td><%= number_to_currency(@monthly_payment)%></td>
      <td><%= number_to_currency(@monthly_payment_2)%></td>
      <td><%= number_to_currency(@monthly_payment_3)%></td>
   </tr>
    <tr>
      <td>Debt to Income Ratio (DTI):</td>
      <td><%= @dti%>%</td>
      <td><%= @dti_2%>%</td>
      <td><%= @dti_3%>%</td>
   </tr>
    <tr>
      <td>Change in Disposable Income:</td>
      <td><%= number_to_currency(@disp_income_diff)%></td>
      <td><%= number_to_currency(@disp_income_diff_2)%></td>
      <td><%= number_to_currency(@disp_income_diff_3)%></td>
    </tr>
    <tr>
      <td>Probability of Loan Approval:</td>
      <td><%= @approval%></td>
      <td><%= @approval_2%></td>
      <td><%= @approval_3%></td>
   </tr>
</table>
</div>


