<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills" id="blue">
      <li id="scenario_title"><%=@scenario.title%></li>
      <li><%= link_to('Edit Scenario', edit_scenario_path(@scenario)) %></li>
      <li><%= link_to('Delete Scenario', @scenario, :method => :delete, :confirm => 'Are you sure?') %></li>
      <div class='spacer'></div>
    </ul>
  </div>
</div>


  <div>
  <h2>Borrower's Information</h2>
      <p class="lead">Income: $<%= @scenario.income%></p>
      <p class="lead">Current Housing Expense: $<%= @scenario.housing_exp%></p>
      <p class="lead">Other Monthly Expenses: $<%= @scenario.other_exp%></p>
      <p class="lead">Credit Score: <%= @scenario.credit_score%></p>
  <div/>
  <div>
  <h2>Property Information</h2>
      <p class="lead">Home Address: <%= @scenario.title%></p>
      <p class="lead">Home Purchase Price: $<%= @scenario.purchase_price%></p>
      <p class="lead">Mortgage Loan Amount: $<%= @scenario.loan_amount%></p>
  </div><br><br>

<div>
  <table class="table">
  <tr>
      <th colspan="4"><h2>Mortgage Loan Options</h2> </th>
  </tr>
  <tr>
      <th></th>
      <th>30 Year Fixed</th>
      <th>15 Year Fixed</th>
      <th>5/1 Adjustable</th>
  </tr>
  <tr>
      <td>Current Interest Rate:</td>
      <td><%= @thirty_year_fixed%>%</td>
      <td><%= @fifteen_year_fixed%>%</td>
      <td><%= @five_one_adjust%>%</td>
  </tr>
    <tr>
      <td>Monthly Payment:</td>
      <td>$<%= @monthly_payment%></td>
      <td>$<%= @monthly_payment_2%></td>
      <td>$<%= @monthly_payment_3%></td>
   </tr>
    <tr>
      <td>Debt to Income Ratio (DTI):</td>
      <td>$<%= @dti%></td>
      <td>$<%= @dti_2%></td>
      <td>$<%= @dti_3%></td>
   </tr>
    <tr>
      <td>Change in Disposable Income:</td>
      <td>$<%= @disp_income_diff%></td>
      <td>$<%= @disp_income_diff_2%></td>
      <td>$<%= @disp_income_diff_3%></td>
    </tr>
    <tr>
      <td>Probability of Loan Approval</td>
      <td>$<%= @approval%></td>
      <td>$<%= @approval_2%></td>
      <td>$<%= @approval_3%></td>
   </tr>
</table>
</div>


