<!DOCTYPE html>
<html>
<head>
  <title>MortgageApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menu_bar">
    <% if current_user.nil? %>
    <p>Please Sign In</p>
    <%else%>
  <p>Hello, <%=current_user.first_name%> <%=current_user.last_name%></p>
  <%end%>
  <%= button_to "Sign Out", {controller: :sessions, action: :destroy}, :method => :delete, :class => "buttons1", :id => "signoutbutton"%>
  </div>
 <!-- <audio src="/assets/money.mp3" autoplay></audio> -->

    <%flash.each do|key,value|%>
                <div class="alert alert-<%=key%>"> <%=value%> </div>
        <%end%>

<%= yield %>

</body>
</html>
